<div class="container result">
  <h1>✨ RESULT ✨</h1>
  <h3><%= @result %></h3>
  <p>----------------------</p>
  <p>score: <strong><%= @score %></strong></p>
  <p>total score: <strong><%= session[:total_score] %></strong></p>
</div>
<%= link_to "Play again", new_path %>
